# Use these values when deploying to Render
PORT=5000
NODE_ENV=production
MONGO_URI=mongodb+srv://sorifulislamsk2004:Soriful2004@cluster0.velbip2.mongodb.net/githubclone?retryWrites=true&w=majority&appName=Cluster0
GITHUB_API_KEY=your_github_token_here
GITHUB_CLIENT_ID=Ov23libZRscitfRuwOcn
GITHUB_CLIENT_SECRET=b06699e7dc39f128e84f7e5f902f4324a840ab97
GITHUB_CALLBACK_URL=https://gitexplorer-backend-2xtf.onrender.com/api/auth/github/callback
CLIENT_BASE_URL=https://git-explorer-soriful-islam-sks-projects.vercel.app
SESSION_SECRET=gitexplorer_session_secret_9f3k2l9s8d7f6a5
